@if (Product) {
<div class="product-cart" routerLink="/product-detail/{{Product.id}}">
  <div class="cart-wrapper">
    <div class="product-title-box">
      <a class="product-category" href="">{{Product.category}}</a>
      <h3 class="product-title">{{Product.title}}</h3>
    </div>

    <div class="product-img">
      <img [src]="Product.images" alt="{{Product.images}}">
    </div>

    <div class="product-price">
      @if(Product.price==Product.discountPercentage){
        <span class="fix-price">{{Product.price}}</span>
      }
      @else {
      <div class="discount-price">
        <span class="new-price">${{Product.discountPercentage|currency}}</span>
        <span class="old-price"><del>${{Product.price}}</del></span>
      </div>
      }
      <i class="fa-solid fa-cart-shopping icon"></i>
    </div>

    <div class="product-footer">
      <span><i class="fa-regular fa-heart"></i>Wishlist</span>
      <span><i class="fa-solid fa-code-compare"></i>Compare</span>
    </div>
  </div>

</div>
}
