<app-sale-item></app-sale-item>
<div class="feature text-dark container">
  <!-- Special Offer -->
  <div class="feature-left">
    <div class="special-offer-header">
      <h2>Special Offer</h2>
    </div>
    <div class="speacial-offer-img"> <img
        src="https://cdn.dummyjson.com/product-images/groceries/kiwi/1.webp" alt="Speacial-Offer">
    </div>
    <div class="speacial-offer-name">
      <a href="#">Nutrient-rich kiwi, twist to your dishes.</a>
    </div>
    <div class="speacial-offer-price">
      <span class="oprice">$15.22</span>
    </div>
  </div>
  <div class="feature-right">
    <ul class="custom-tab-1">
      <li class="tab-item" [class.active]="selectedTab==='featured'" (click)="selectedTab='featured'">Groceries</li>
      <li class="tab-item" [class.active]="selectedTab==='sale'" (click)="selectedTab='sale'">Beauty</li>
      <li class="tab-item" [class.active]="selectedTab==='topRated'" (click)="selectedTab='topRated'">Fragrances</li>
    </ul>
    <div class="regular-products">

      <!-- Featured -->

      @if (selectedTab === 'featured') {
      @for (Product of groceryProducts; track $index) {
        @if ($index<6) {
          <app-product-item [Product]="Product"></app-product-item>
        }
      }
      }
      <!-- On Sale -->
      @if (selectedTab === 'sale') {
      @for (Product of beautyProducts; track $index) {
      <app-product-item [Product]="Product"></app-product-item>
      }
      }

      <!-- Top Rated -->
      @if (selectedTab === 'topRated') {
      @for (Product of fragranceProducts; track $index) {
      <app-product-item [Product]="Product"></app-product-item>
      }
      }
    </div>
  </div>
</div>
