<div class="review-summary-wrapper">

  <div class="based-on">
    <span>Based on 2 reviews</span>
  </div>
  <div class="overall">
    <h2>{{data?.rating}}</h2>
    <p>overall</p>
  </div>
  <div class="review-stars">
    <div class="five star">
      <div class="star-icon">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <div class="rating-bar">
        <div class="filler f1"></div>
      </div>
    </div>
    <div class="four star">
      <div class="star-icon">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
      </div>
      <div class="rating-bar">
        <div class="filler f2"></div>
      </div>
    </div>
    <div class="three star">
      <div class="star-icon">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
      </div>
      <div class="rating-bar">
        <div class="filler f3"></div>
      </div>
    </div>
    <div class="two star">
      <div class="star-icon">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
      </div>
      <div class="rating-bar">
        <div class="filler f4"></div>
      </div>
    </div>
    <div class="one star">
      <div class="star-icon">
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
      </div>
      <div class="rating-bar">
        <div class="filler f5"></div>
      </div>
    </div>
  </div>
</div>
